In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
data = pd.read_csv("A:/canada.csv")

In [4]:
data.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [5]:
X = pd.DataFrame(data['year'])
y = pd.DataFrame(data['per capita income (US$)'])

In [6]:
lc = LinearRegression()

In [7]:
x_train , x_test , y_train , y_test  = train_test_split(X,y, test_size = 0.6)

In [8]:
model = lc.fit(x_train , y_train)

In [9]:
model.intercept_

array([-1535241.90046982])

In [10]:
model.coef_

array([[779.63166523]])

In [11]:
predicted = lc.predict(x_test)
print(predicted[1:4])
print(predicted.shape)
print(y_test.shape)

[[22462.1666539 ]
 [17004.74499731]
 [ 9988.06001026]]
(29, 1)
(29, 1)

In [11]:
x_test.shape

(29, 1)

In [12]:
x_train.shape

(18, 1)

In [54]:
model.score(x_train , y_train)

0.8983669689578178

In [44]:
model1 = lc.fit(data[['year']] , data[['per capita income (US$)']])
prediction = model.predict(data[['year']])
df = pd.DataFrame(data.year )
df['income'] = data['per capita income (US$)']
df['predicted'] = prediction
df.head(3)

   year       income    predicted
0  1970  3399.299037  -134.559667
1  1971  3768.297935   693.905409
2  1972  4251.175484  1522.370484

In [39]:
model1.score(data[['year']] , data[['per capita income (US$)']])

0.890916917957032

In [43]:
from sklearn.metrics import r2_score

In [49]:
accuracy = r2_score(y_test , predicted)

In [52]:
accuracy

0.886266173381091

In [58]:
mean_squared_error(y_train ,x_train)

428465777.35704094